h1{
  font-family: 'Courier New', Courier, monospace;
}
  .card {
    width: 300px; /* Adjust the width as needed */
    background: linear-gradient(to bottom, #f9f9f9, #df8bd4);
    border: 1px solid #050000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
   
  }
  
  .card-body {
    padding: 10px;
  }
  
  